.login-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 50px;

  }
    
  h2 {
    margin-bottom: 15px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .login-form input {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .login-form button:hover {
    background-color: #e68900;
  }
  
  .toggle-text {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .toggle-text span {
    color: #e68900;
    cursor: pointer;
    font-weight: bold;
  }

  .headings{
    font-size: 20px;
  }